# Week 3 Assignment: Calculating the Total Miles Ridden from NYC to Key West #

To track the total number of miles ridden from NYC to Key West Florida, I could use pandas and Jupyter notebook. I would need to import the pandas library and create the initial data set containing the number of miles from the odometer.

In [67]:
#import pandas library and shorten name to pd
import pandas as pd

I entered the data for day 1 (55 miles) and day 2 (65 miles) in the "dailymiles" dataset.

In [68]:
#Initial data set for daily miles ridden
dailymiles = [55, 65]

I shortened the dataframe name to "df."

In [69]:
#Sets data set into the dataframes and assigns it to df 
df = pd.DataFrame(dailymiles)

 Afterwards, I renamed the column to "Daily Ride (Mi)" to make it easier for interpretation.

In [70]:
#Renames the column to "Daily Ride in Miles"
df.columns = ['Daily Ride (Mi)']

I also, renamed the indexes to the match the days with the number of miles ridden.

In [71]:
#Renames the index
df.index = ["Day 1", "Day 2"]

I took a look at the "df" dataframe to ensure the information is correct.

In [72]:
#Shows the 'df' dataframe
df

       Daily Ride (Mi)
Day 1               55
Day 2               65

I added a column to keep track of the cummulative miles at the end of each day.

In [73]:
#Creates Series and calculates the cummulative miles for the end of each day
df['Cummulative Total (Mi)'] = df.cumsum()

I checked once again to ensure everything looks right.

In [74]:
#Shows the updated df 
df

       Daily Ride (Mi)  Cummulative Total
Day 1               55                 55
Day 2               65                120